doctype html

mixin display(color, title)
  div.main__display(id = color)
    div.main__display--colorbar(id = `colorbar_${ color }`)
    button.main__display--close(onclick = 'closeDisplay()')
      svg(style='width:24px;height:24px' viewBox='0 0 24 24')
        path(fill='currentColor' d='M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z')
    h1.main__display--title= title
    div.main__display--gallery
      div.display__gallery--hoverArea.display__gallery--left(onmouseover = 'moveLeft()')
      div.display__gallery--hoverArea.display__gallery--right(onmouseover = 'moveRight()')
      img.display__gallery--image(src = `img/${ color }.png` alt = title)
    div.main__display--buttons
      button.display__buttons--button.display__buttons--left(onclick = 'moveLeft()')
        svg(style='width:24px;height:24px' viewBox='0 0 24 24')
          path(fill='currentColor' d='M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z')
      button.display__buttons--button.display__buttons--right(onclick = 'moveRight()')
        svg(style='width:24px;height:24px' viewBox='0 0 24 24')
          path(fill='currentColor' d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z')

html
  head
    meta(charset = 'utf8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Color your life!
    link(href = 'index.css' rel = 'stylesheet' type = 'text/css')
    link(href = 'https://use.typekit.net/mbq1wbp.css' rel = 'stylesheet' type = 'text/css')
    script(src = 'https://unpkg.com/konva@4.2.0/konva.min.js')
  body
    div#main__palette
    div#main__shadow
      img(src = 'img/shadow.png')
    +display('blue', 'Living Classic Blue')
    +display('coral', 'Living Coral')
    +display('green', 'Living Greenery')
    +display('blue_coral', 'Living Coral x Classic Blue')
    +display('blue_green', 'Living Greenery x Classic Blue')
    +display('coral_green', 'Living Coral x Greenery')
    +display('blue_coral_green', 'Living Coral x Greenery x Classic Blue')
    script(src = 'index.js')
